In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("data/lichess.csv")
df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5

In [15]:
# columns of interest - moves, opening_name?
df = pd.DataFrame(df["moves"])
df.head()

                                               moves
0  d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...
1  d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...
2  e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...
3  d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...
4  e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...

In [16]:
df["progressive_moves"] = df["moves"].str.split().apply(lambda moves: [' '.join(moves[:i+1]) for i in range(len(moves))])

In [17]:
df.head()

,moves,progressive_moves
0,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,"[d4, d4 d5, d4 d5 c4, d4 d5 c4 c6, d4 d5 c4 c6..."
1,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,"[d4, d4 Nc6, d4 Nc6 e4, d4 Nc6 e4 e5, d4 Nc6 e..."
2,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,"[e4, e4 e5, e4 e5 d3, e4 e5 d3 d6, e4 e5 d3 d6..."
3,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,"[d4, d4 d5, d4 d5 Nf3, d4 d5 Nf3 Bf5, d4 d5 Nf..."
4,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,"[e4, e4 e5, e4 e5 Nf3, e4 e5 Nf3 d6, e4 e5 Nf3..."

In [19]:
df.iloc[0]["progressive_moves"]

['d4',
 'd4 d5',
 'd4 d5 c4',
 'd4 d5 c4 c6',
 'd4 d5 c4 c6 cxd5',
 'd4 d5 c4 c6 cxd5 e6',
 'd4 d5 c4 c6 cxd5 e6 dxe6',
 'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6',
 'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3',
 'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+',
 'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3',
 'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5',
 'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5 Bf4']

In [20]:
target = df.explode("progressive_moves")

In [23]:
target.shape

(1212827, 2)

In [24]:
target = pd.DataFrame(target["progressive_moves"])
target.reset_index(drop = True, inplace = True)

In [25]:
target

                                         progressive_moves
0                                                       d4
1                                                    d4 d5
2                                                 d4 d5 c4
3                                              d4 d5 c4 c6
4                                         d4 d5 c4 c6 cxd5
...                                                    ...
1212822  d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...
1212823  d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...
1212824  d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...
1212825  d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...
1212826  d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...

[1212827 rows x 1 columns]

In [26]:
target.shape

(1212827, 1)

In [27]:
len(target.progressive_moves.unique())

1036294

In [28]:
target.drop_duplicates(inplace = True)

In [29]:
target.shape

(1036294, 1)

In [30]:
target.to_csv("progressive_moves.csv")