In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("large_data/progressive_moves.csv")
df = pd.DataFrame(df["progressive_moves"])

In [52]:
df.head(1)

  progressive_moves
0                d4

In [53]:
df = df.iloc[:5000]
df.shape

(5000, 1)

In [54]:

df[["prev_moves", "last_move"]] = df["progressive_moves"].str.rsplit(n=1, expand=True)
df.drop(columns=["progressive_moves"], inplace=True)
df.head()

    prev_moves last_move
0           d4      None
1           d4        d5
2        d4 d5        c4
3     d4 d5 c4        c6
4  d4 d5 c4 c6      cxd5

In [55]:
df.head()

    prev_moves last_move
0           d4      None
1           d4        d5
2        d4 d5        c4
3     d4 d5 c4        c6
4  d4 d5 c4 c6      cxd5

In [56]:
df["last_move_fill"] = df.apply(lambda row : row["prev_moves"] if row["last_move"] == None else row["last_move"], axis = 1)
df.drop(columns=["last_move"],inplace=True)
df.head()

    prev_moves last_move_fill
0           d4             d4
1           d4             d5
2        d4 d5             c4
3     d4 d5 c4             c6
4  d4 d5 c4 c6           cxd5

In [58]:
df.to_csv("prev_last_5000.csv")